@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: #adf124;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid #adf124;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: #adf124;
}
.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: #adf124;
}

/* Header section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a {
  color: #adf124;
}
#header .animasi2 {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .animasi2:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: animasi2_puls 1s ease infinite;
}
#header .animasi2 .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .animasi2 .bar::after,
#header .animasi2 .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .animasi2 .bar::after {
  top: 8px;
}
#header .animasi2 .bar::before {
  bottom: 8px;
}
#header .animasi2.active .bar::before {
  bottom: 0;
}
#header .animasi2.active .bar::after {
  top: 0;
}
/* Akhir Header section */

/* beranda Section */
#beranda {
  background-image: url(./img/Logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#beranda::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#beranda .beranda {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#beranda h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: animasi1 0.5s ease forwards;
  animation-delay: 1s;
}
#beranda h1:nth-child(1) {
  animation-delay: 1s;
}

#beranda h1:nth-child(2) {
  animation: animasi1_name 0.5s ease forwards;
  animation-delay: 2s;
}
#beranda h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #adf124;
  animation: animasi1_box 1s ease;
  animation-delay: 0.5s;
}
#beranda h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#beranda h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#beranda h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* Akhir beranda Section */

/* deskripsi Section */
#deskripsi .deskripsi {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#deskripsi .deskripsi2-top {
  max-width: 500px;
  margin: 0 auto;
}
#deskripsi .deskripsi2-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#deskripsi .deskripsi2-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./img/latar.jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#deskripsi .deskripsi2-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.9;
  z-index: -1;
}
#deskripsi .deskripsi2-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#deskripsi .deskripsi2-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#deskripsi .deskripsi2-item p {
  color: white;
  text-align: left;
}
/* Akhir deskripsi Section */

/* spesifikasi section */
#spesifikasi .spesifikasi {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#spesifikasi .spesifikasi-header h1 {
  margin-bottom: 50px;
}
#spesifikasi .all-spesifikasi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#spesifikasi .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#spesifikasi .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}
#spesifikasi .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#spesifikasi .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
#spesifikasi .project-info p {
  color: white;
}
#spesifikasi .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#spesifikasi .project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}
#spesifikasi .project-img img {
  transition: 0.3s ease transform;
}
#spesifikasi .project-item:hover .project-img img {
  transform: scale(1.1);
}
/* Akhir spesifikasi section */

/* pendiri Section */
#pendiri .pendiri {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#pendiri .col-left {
  width: 250px;
  height: 360px;
}
#pendiri .col-right {
  width: 100%;
}
#pendiri .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
#pendiri .col-right p {
  margin-bottom: 20px;
}
#pendiri .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}
#pendiri .col-left .pendiri-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}
#pendiri .col-left .pendiri-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid #adf124;
  z-index: -1;
}
/* Akhir pendiri Section */

/* kontak Section */
#kontak .kontak {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
#kontak .kontak-items {
  /* max-width: 400px; */
  width: 100%;
}
#kontak .kontak-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#kontak .kontak-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#kontak .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#kontak .kontak-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
#kontak .kontak-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}
/*End kontak Section */

/* Footer */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
}
/* Akhir Footer */

/* Keyframes */
@keyframes animasi2_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes animasi1_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes animasi1 {
  100% {
    color: white;
  }
}
@keyframes animasi1_name {
  100% {
    color: #adf124;
    font-weight: 500;
  }
}
/* Akhir Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }

  /* beranda */
  #beranda h1 {
    font-size: 7rem;
  }
  /* Akhir beranda */

  /* deskripsi Section */
  #deskripsi .deskripsi2-bottom .deskripsi2-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* Akhir deskripsi Section */

  /* Project */
  #spesifikasi .project-item {
    flex-direction: row;
  }
  #spesifikasi .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #spesifikasi .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #spesifikasi .all-spesifikasi .project-info {
    height: 100%;
  }
  #spesifikasi .all-spesifikasi .project-img {
    height: 100%;
  }
  /* Akhir Project */

  /* pendiri */
  #pendiri .pendiri {
    flex-direction: row;
  }
  #pendiri .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #pendiri .pendiri .col-left .pendiri-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid #adf124;
  }
  #pendiri .col-right {
    text-align: left;
    padding: 30px;
  }
  #pendiri .col-right h1 {
    text-align: left;
  }
  /* Akhir pendiri */

  /* kontak  */
  #kontak .kontak {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }
  #kontak .kontak-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }
  #kontak .kontak-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }
  #kontak .kontak-item .icon {
    height: 100px;
    width: 100px;
  }
  #kontak .kontak-item .icon img {
    object-fit: contain;
  }
  #kontak .kontak-item .kontak-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  /* Akhir kontak  */
}
/* Akhir Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .animasi2 {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* Akhir header */

  #deskripsi .deskripsi2-bottom .deskripsi2-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
/* Media Query Dekstop*/
